# Configure monitor resolution and refresh rate
xrandr --output DP-4 --primary --mode 2560x1440 --rate 143.85 --output DP-2 --mode 2560x1440 --rate 143.85 --right-of DP-4

# Run pywal
wal -R

# Restore wallpaper
~/.fehbg &
