# configure monitor resolution and refresh rate
xrandr --output DP-1 --primary --mode 2560x1440 --rate 143.85 --output DP-2 --mode 2560x1440 --rate 143.85 --right-of DP-1

# set monitor timeout
xset s 900
xset dpms 0 0 960

# restore wallpaper
~/.fehbg &
