[Desktop Entry]
Name=Rider 2024.2.5
Exec="/home/jared/.local/share/JetBrains/Toolbox/apps/rider/bin/rider" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=/home/jared/.local/share/JetBrains/Toolbox/apps/rider/bin/rider.svg
Comment=A cross-platform .NET IDE
StartupWMClass=jetbrains-rider
StartupNotify=true
